<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Sqlite.Core" version="2.2.6" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_sqlcipher" version="1.1.14" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="1.1.14" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.sqlcipher.linux" version="1.1.14" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.sqlcipher.osx" version="1.1.14" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.sqlcipher.windows" version="1.1.14" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.sqlcipher.net45" version="1.1.14" targetFramework="net472" />
</packages>